
html {
    background-color: whitesmoke
}

/* 여기서부터 네비바 스타일 시트 */
.container-nav {
    display: grid;

    grid-template-columns: 60px 1fr 70px;
    grid-template-rows: 40px 20px;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;


    background-color: #3e4bac;
    color: white;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* container 클라스 밑에 있는 모든 태그에 속성을 부여하려면 >* 을 사용 */
.container-nav >* {
    text-align: center;
}

.container-nav
.item-nav-main a {
    font-size: larger;
    font-weight: bold;
}

.container-nav
.item-nav-line {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    align-items: center;
    background-color: #6a6ab5;

    font-size: 17px;
    padding-left: 15px;
}



/* 여기서부터 바디 스타일 시트 */
body {
    padding-top: 60px;
    margin: 0;
}

.main-menu {
    border: 1px solid;
    border-radius: 20px;
    margin: 15px;
    background-color: white;
}

.main-menu >* {
    font-size: large;
}

.main-menu li {
    margin: 10px;
}

.main-menu h3 {
    text-align: center;
}



/* 여기서부터 로그인 시트 */

.div-login {
    margin-top: 100px;
}


.div-login form {
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 60px;
    margin: 20px;
}

.div-login h2 {
 text-align: center;
}

.div-login input {
border-radius: 10px;
}

.login-button {
    background-color: #bec5fd;
}




/* 여기서부터 맵 스타일 시트 */
.map-button {
    display: grid;
    grid-template-columns: 8fr 70px;
    height: 25px;
  
  }
  
  .map-button input {
  border-radius: 5px;
  }
  
  .map-button button {
  border-radius: 5px;
  
  }











  /* 미디어쿼리 데스크톱용 스타일 시트 */


         /* 메인메뉴 */
    @media (min-width: 800px) {
    .main-menu {
        margin: auto;
        max-width: 800px;
        margin-top: 40px;
    }
    }


        /* 로그인 페이지 */
    @media (min-width: 800px) {
        .div-login {
        margin: auto;
        max-width: 400px;
        margin-top: 100px;
        }
    }