* {
    margin: 0;
    padding: 0;
}



section {
    padding-top: 40px;
}


.top_menu {
    display: flex;
    position: fixed;
}

.top_menu_1 {
    flex: 1;
}
.top_menu_2 {
    flex: 5;
}
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
.top_menu_2 p {
    font-family: 'Black Han Sans', sans-serif;
}

.top_menu_2 p {
    text-align: center;
    padding-top: 5px;
}

.top_menu_3 {
    flex: 1;
}


#main_menu {
    height: 35px;
    width: 55px;
    display: block;
}

#main_menu a {
    height: 40px;
    width: 55px;
    padding-top: 5px;
    text-align: center;
    display: block;
    
}


.menu_all {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu_bottom {
    border: 1px solid;
    width: 95%;
    border-radius: 10px;
    margin-top: 15px;

}

.menu_bottom p {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
