html {
    scroll-behavior: smooth;
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-rows: min-content;
    border: solid black;
    border-width: 2px;
    margin: 1vw;
    
}

h1 {
    font-size: 35px;
    margin: 5px;
    text-align: center;
    
}

h2 {
    margin: 5px;
}

#search {
    width: 1fr;
    height: 15px;
}

#first {
    border: solid gray;
    border-width: 2px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 0px;
    height: 100vh;
    z-index: 1;
    border-bottom: none;
}

ol {
    list-style-type: disc;
}

#map{
    background-color: aqua;
}

header {
    height: 20px;
    background-color: blueviolet;
    display: flex;
    position: fixed;
}

#test {
    background-color: rgb(64, 136, 114);
}

#top{
    text-align: right;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
}

#last{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2vw;
}

#map2 {
    display: grid;
    grid-template-rows: min-content;
}

#TOPscroll {
    position: fixed;
    right: 2vw;
    bottom: 1.5vh;
    margin: 0;
    font-size: 5vmin;
    font-weight: bold;
    z-index: 2;
    
}

#textboxx {
   margin: 0px;

}